# Import

In [32]:
import pandas as pd
import numpy as np
from sklearn.linear_model import ElasticNet
from sklearn.feature_selection import SelectFromModel
from sklearn import svm
from sklearn.model_selection import KFold, cross_validate, LeaveOneOut

# Read Data

In [15]:
data_df = pd.read_csv('./data/eig_centrality.csv', header=None)
data_df = data_df.loc[:, (data_df != 0).any(axis=0)] # drop columns with zeros
data_df.head()

,0,1,2,6,7,10,12,13,14,15,...,285,286,287,288,289,290,291,292,293,294
0,1,-0.067894,-0.062832,-0.031240,-0.071004,-0.030888,0.009534,0.044660,0.043163,0.025440,...,-0.112760,-0.106070,0.000000e+00,0.000000e+00,-0.028195,-0.024616,-0.042535,-0.087451,0.003145,-0.047196
1,1,0.031793,0.025996,0.122030,0.109220,-0.005733,0.017223,-0.072822,-0.077072,-0.126650,...,0.078364,0.049836,0.000000e+00,6.938900e-18,-0.076947,-0.078418,-0.064815,0.095082,0.054585,0.076347
2,1,-0.005251,-0.015806,-0.124040,-0.117020,-0.017355,-0.035984,0.106950,0.011851,0.077032,...,0.021125,0.014470,0.000000e+00,-1.734700e-18,0.068705,0.084321,0.047107,0.004649,-0.142760,-0.129450
3,1,0.123150,0.096576,-0.045236,-0.005143,-0.017959,-0.060064,0.008232,-0.076910,-0.042061,...,-0.043127,-0.024063,5.551100e-17,-1.110200e-16,-0.064510,-0.100380,-0.112950,-0.099919,-0.006036,-0.004228
4,1,-0.059846,-0.024500,-0.022105,0.022153,0.079495,-0.013115,0.019867,0.032033,0.012232,...,-0.026404,-0.004397,-4.336800e-19,0.000000e+00,-0.068379,0.006091,-0.050172,0.056009,0.077894,0.016500

In [61]:
# Extract data
X = abs(data_df.iloc[:,1:])
y = data_df.iloc[:,0]

print(X.shape)
print(y.shape)

(60, 273)
(60,)

# Elastic Regression

In [62]:
regr = ElasticNet(random_state=42, max_iter=10000)
regr.fit(X,y)
regr.score(X,y)

0.0

# Feature selector

In [63]:
regr = ElasticNet(random_state=42, selection='random', max_iter=10000)
selector = SelectFromModel(estimator=regr, threshold='mean', max_features=60).fit(X,y)
selector.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [64]:
X_new = selector.transform(X)
print(X_new.shape)

(60, 60)

In [65]:
# Train SVM
clf = svm.SVC(kernel='rbf', C=1000, gamma='auto')
results = cross_validate(clf, X, y, cv=10, return_train_score=True)

In [66]:
np.mean(results['test_score'])

0.55